# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

app/.sass-cache
app/.tmp
app/dist/
app/dist-zips/
app/dev/
app/temp/
app/node_modules/
app/app/bower_components

etc/scripts/output

# OS files
.DS_Store
Thumbs.db

# TextMate files
*.tmproj
*.tmproject
tmtags

# SublimeText project files
*.sublime-project
*.sublime-workspace


